*
{
    margin:0px;
    padding:0px;
    color:white;
    text-decoration: none;
    list-style:none;
    border-radius:5px;

}
body
{
    background-color:black;
}

#head
{   
    display: flex;
    
}
#container
{
  
  position: relative;
  left:900px;
  bottom: 10px;
}


#head ul
{
    
display: flex;
}
#head ul li
{   align-self: end;
    padding: 20px;
    font-weight:500;
    font-family: Comic Sans MS;
    
}
.nav
{   float: left;
    
    width:21%;
    background-color:#232323;
    height:600px;
    display: relative;
    font-family:sans-serif;
   
   

}
#list
{   
 
       width:78%;
    float:right;
    background-color: rgb(44, 44, 44);
        height:600px;
        display: relative;
        
       
}

#head
{
    width:100%;
    height:50px;
    background-color: rgb(34, 34, 34);
   
}

#men li
{
    font-size:16px;
    font-family:sans-serif;
    margin:15px;
}

#name
{
    position: relative;
    left:5px;
    top:15px;
}
#play
{
  
    float:right;
    width:78%;
    background-color: black;
    position: relative;
    top:4px;
   
    
}
#play::-webkit-media-controls-panel
{
    background-color: #232323;
      

    
}
#play::-webkit-media-controls-current-time-display
{
    color:white;
    
}
#play::-webkit-media-controls-time-remaining-display
{
    color:white;
    
    
}
#play::-webkit-media-controls-play-button
{
    color:white;
    background-color: rgb(56, 56, 56);
    
}
#play::-webkit-media-controls-timeline
{
    color:white;
    background-color: rgb(56, 56, 56);
    border-radius:20px;
    
}
#ss
{
    margin:0px;
    
   height: 0px;
  
}

#playlist
{
 margin:25px;
 font-family:Verdana, Geneva, Tahoma, sans-serif;
 position: relative;
 display: none;
}
#ab
{
    display: none;
}
#play1
{
    margin:30px;
    display: none;
    margin-left:45px;
}
#intro
{
    display:block;
}
#empty
{
    display:none;
}
#play2
{   margin:25px;
    display:none;
    padding:20px;
    font-size: 25px;
    font-family: Arial;
}
#pin
{
    display: none;

}
form{
    color:black;
}
#play3
{
    display:none;
}
.songs
{
    width:130px;
    height:130px;
    padding:10px;
    border-radius:25px;
}
#toggle
{
    margin-left:20px;
}
